/* ------ Media Queries ------ */

/* 992-1200px */
@media screen and (max-width: 1200px) {
    .benefits {
        padding: 50px 0 90px;
    }
    .projects {
        padding-bottom: 90px;
    }
    .members {
        padding: 90px 0 ;
    }
    .comment {
       padding-left: 40px;
   }
   .card {
       width: 290px;
   }
   .share {
       width: 300px;
   } 
   .about {
       width: 300px;
   }
   .comment {
        padding: 130px 0 130px 60px;
   }
   .comment__quote {
        width: 390px;
       font-size: 32px;
       line-height: 1.2em;
   }
   .ready__title {
       font-size: 26px;
   }
}

/* 768-992px */
@media screen and (max-width: 992px) {
    h1 {
        font-size: 38px;
    }
    .header {
        padding: 30px 0 211px;
    }
    .benefits {
        padding: 30px 0 90px;
    }
    .card {
        margin-top: 50px;
    }
    .projects {
        padding-bottom: 70px;
    }
    .interview {
        height: 400px;
    }
    .members {
        padding: 70px 0 ;
    }
    .member {
       margin-top: 25px;
   }
   .comment {
        padding: 70px 0 80px 180px;
   }
   .start{
        padding: 80px 0;
   }
   .about {
       margin-top: 40px;
   }
   .footer {
        padding-top: 60px;
   }
}

/* 576-768px */
@media screen and (max-width: 768px) {
    .header {
        padding-top: 0;
        padding-bottom: 190px;
    }
    .logo {
        margin-top: 30px;
    }
    .menu {
        margin-top: 30px;
    }
    .menu__item::after {
        margin-top: 25px;
    }
    .main {
        margin-top: 120px;
    }
    .main__active {
        font-size: 20px;
        margin-bottom: 40px;
    }
    .card {
        margin-top: 40px;
    }
    .comment {
        padding: 80px 0 90px 90px;
    }
    .about {
        width: 100%;
    }
    .location {
        width: 100%;
        margin-top: 40px;
    }
    .share {
        width: 100%;
        margin-top: 40px;
    }
    .footer {
        padding-top: 30px;
   }
}

/* 320-576px */
@media screen and (max-width: 576px) {
    .header {
        padding-top: 0;
        padding-bottom: 140px;
    }
    .header .line::after {
        display: none;
    }
    .logo {
        justify-content: center;
        font-size: 26px;
    }
    .menu{
       display: none;
   }
   .body {
       font-size: 11px;
   }
   h1 {
        font-size: 28px;
    } 
    h3 {
        font-size: 19px;
    }
    .main__active {
        width: 100%;
        font-size: 16px;
    }
    .card {
        width: 100%;
        margin-top: 30px;
    }
    .projects {
        padding-bottom: 50px;
    }
    .members {
        padding: 50px 0 ;
    }
    .comment {
        padding: 50px 20px;
    }
    .comment__quote {
        width: 100%;
        font-size: 25px;
    }
    .ready__title {
        font-size: 25px;
    }
}
